<ng-content></ng-content>

<div class="main_component">
    <mat-card [ngStyle]="{ 'border': '1px solid black', 'padding': '10px' }">
        <mat-card-header>
            <mat-card-title>Budapest</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br><p><mat-icon>location_on</mat-icon> Szent István tér 1, 1051</p>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card [ngStyle]="{ 'border': '1px solid black', 'padding': '10px' }">
        <mat-card-header>
            <mat-card-title>Szeged</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br><p><mat-icon>location_on</mat-icon> Roosevelt tér 1-3, 6720</p>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card [ngStyle]="{ 'border': '1px solid black', 'padding': '10px' }">
        <mat-card-header>
            <mat-card-title>Miskolc</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br><p><mat-icon>location_on</mat-icon> Városház tér 8, 3525</p>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card [ngStyle]="{ 'border': '1px solid black', 'padding': '10px' }">
        <mat-card-header>
            <mat-card-title>Contacts</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br><p><mat-icon>call</mat-icon> +36 20 765 4321</p>
            <p><mat-icon>alternate_email</mat-icon> best.butor&commat;gmail.com</p>
        </mat-card-content>
    </mat-card>
</div>