<div class="main_component">
    <div class="div-flex">
        <h1>valami köszöntő szöveg</h1>
        <div class="form-container">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="input-field"><mat-label for="email">Email: </mat-label><input matInput id="email" type="text" formControlName="email"
                        autocomplete="off"></mat-form-field><br>
                <mat-form-field class="input-field"><mat-label for="password">Password: </mat-label><input matInput id="password" type="password"
                        formControlName="password" autocomplete="off"></mat-form-field><br>
                <mat-form-field class="input-field"><mat-label for="rePassword">Confirm password: </mat-label><input matInput id="rePassword" type="password"
                        formControlName="rePassword" autocomplete="off"> </mat-form-field><br>
                <div formGroupName="name">
                    <mat-form-field class="input-field"><mat-label for="firstName">First name: </mat-label><input matInput id="firstName" type="text"
                            formControlName="firstName"></mat-form-field><br>
                    <mat-form-field class="input-field"><mat-label for="lastName">Last name: </mat-label><input matInput id="lastName" type="text"
                            formControlName="lastName"></mat-form-field>
                </div>
                <span>
                    <button mat-raised-button color="accent" type="submit">Register</button>
                    <button mat-raised-button color="accent" (click)="goBack()">Back</button>
                </span>
            </form>
        </div>
    </div>
</div>