.main_component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.text-container {
    margin-bottom: 20px;
}

.table-container {
    overflow: auto;
    max-height: 60vh;
}

table {
    width: 100%;
}

img {
    max-width: 10%;
    max-height: 10%;
}

.mat-cell {
    width: 25%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
}

.even-row {
    background-color: rgb(95, 95, 95);
}

.odd-row {
    background-color: rgba(255, 255, 255, 0);
}

button {
    background-color: rgba(255, 255, 255, 0);
}

button:hover {
    background-color: rgb(136, 136, 136);
}

@media screen and (max-width: 600px) {
    .table-container table {
        display: table;
    }

    .table-container table th:first-child,
    .table-container table td:first-child {
        display: none;
    }
}