<div class="main_component">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngFor="let image of images">
            <mat-card>
                <div class="align-left">
                    <mat-card-content>
                        <img [src]="loadImage(image.image_url)">
                    </mat-card-content>
                </div>
                <div class="align-right">
                    <mat-card-content>
                        <h1>{{ image.name }}</h1>
                        <p><mat-icon class="dollar">payments</mat-icon> {{ image.price }}Ft</p>
                    </mat-card-content>
                    <button mat-icon-button (click)="addItemToCart()">
                        <mat-icon class="cart">shopping_cart</mat-icon>
                    </button>
                </div>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>