<span class="loading-indicator" *ngIf="loading">
    <mat-spinner color="accent"></mat-spinner>
</span>

<div class="main_component">
    <h1>Welcome Back!</h1>
    <h3>Please log in to your account to access all the exciting features our platform has to offer.</h3>
    <div class="form-container">
        <mat-form-field class="input-field"><mat-label for="email">Email: </mat-label><input matInput id="email" type="text" [formControl]="email" autocomplete="off"></mat-form-field>
        <mat-form-field class="input-field"><mat-label for="password">Password: </mat-label><input matInput id="password" type="password" [formControl]="password" autocomplete="off"></mat-form-field>    
    </div>
    <span>
        <button mat-raised-button color="accent" (click)="login()">Login</button>
        <button mat-raised-button color="accent" [routerLink]="'/signup'">Sign Up</button>
    </span>
    <!-- AsyncPipe -->
    <!-- <p>{{loadingObservation | async}}</p> -->
</div>