<app-menu (selectedPage)="changePage($event)" [currentPage]="page"></app-menu>
<!-- <ng-container [ngSwitch]="page">
    <ng-container *ngSwitchCase="'main'">
        <div class="main_component">
            <app-main></app-main>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'product'">
        <app-product></app-product>
    </ng-container>

    <ng-container *ngSwitchCase="'contact'">
        <app-contact>
            <h1>ez egy fejléc</h1>
        </app-contact>
    </ng-container>
</ng-container> -->

<router-outlet><router-outlet/>