<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (selectedPage)="changePage($event)" [currentPage]="page" (onCloseSidenav)="onClose(sidenav)" [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
        <!--                                                                                         $event,  -->
    </mat-sidenav>
    <!-- <mat-sidenav-content class="custom-background"> -->
    <mat-sidenav-content color="background">
        <mat-toolbar color="accent" class="header-bar">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="onToggleSidenav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="title">Bútor-Webshop</div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li><a routerLink="/main">Home</a></li>
                    <li><a routerLink="/product">Product</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
                    <li><a routerLink="/signup">Register</a></li>
                </ul>
            </div>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>