<div class="main_component">
    <h1>Welcome to our website!</h1>
    <img src="\assets\welcomeimg.jpg" alt="">
    <section class="about">
        <h2>About Us</h2>
        <p>
            The Furniture Webstore is a business offering handmade furniture tailored to individual orders. Renowned for
            using quality materials and precise craftsmanship, our company creates furniture that lasts for years and
            adds coziness to its surroundings.
        </p>
    </section>
    <img src="\assets\us.jpg" alt="">
</div>