.main_component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ratings-container {
    margin-top: 20px;
    text-align: center;
}

.active {
    color: yellow;
}

.mat-icon {
    cursor: pointer;
}